<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesh Air Quality Control Panel Settings</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
</head>
<body>
    <header>
        <div>
            <h1>Mesh Air Quality Control Panel</h1>
        </div>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('settings') }}" class="bold">Settings</a>
        </div>
    </header>
    
    {% for settings_section in ["co2", "temp"] %}
    {% set status_key = "status_" + settings_section %}
    {% set levels = co2levels if settings_section == "co2" else templevels %}
    {% set level_key = "on_" + settings_section + "_level" %}
    <div class="settings_wrapper">
    <div>
            <form action="/settings/set/{{ settings_section }}levels" method="post">
                <table>
                    <tr>
                        <th colspan="2">{{ settings_section.upper() }} Level starting value</th>
                    </tr>
                    

                    {% for level in levels %}
                        <tr>
                            <th class="right_text" style="color: {{ level['color'] }}">{{ level['name'] }}</th>
                            <td><input type="number" id="{{ settings_section }}_{{ level['id_warning_level'] }}" name="{{ level['id_warning_level'] }}" value="{{ level['from_value'] }}" required></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Save">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div>
            <form action="/settings/set/automatic_window_opening/{{ settings_section }}" method="post">
                <table>
                    <tr>
                        <th colspan="2">Automatic window opening by {{ settings_section.upper() }}</th>
                    </tr>
                    <tr>
                        <th class="right_text">Enable</th>
                        <td>
                            <input type="checkbox" id="automatic_window_opening_status_by_{{ settings_section }}" 
                                name="automatic_window_opening_status_by_{{ settings_section }}" 
                                {{ "checked" if automatic_window_opening_data[status_key] == 1 else "" }}>
                        </td>
                    </tr>
                    <tr>
                        <th class="right_text">Open on</th>
                        <td>
                            <select id="automatic_window_opening_open_on_{{ settings_section }}_level" 
                                    name="automatic_window_opening_open_on_{{ settings_section }}_level">
                                {% for level in levels %}
                                    <option value="{{ level['id_warning_level'] }}" 
                                        {{ "selected" if automatic_window_opening_data[level_key] == level['id_warning_level'] else "" }}>
                                        {{ level['name'] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Save">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
    {% endfor %}

</body>
</html>
